<h2>Patient Details</h2>

<input id="pname" placeholder="Patient Name">
<input id="page" type="number" placeholder="Age">
<input id="pgender" placeholder="Gender">
<input id="timeInput" type="number" placeholder="Dialysis Hours">

<button onclick="setPatient()">Set Patient</button>

<h3 id="patientInfo">No patient selected</h3>

<hr>

<div class="grid">
  <div class="card"><h3>Blood Flow</h3><p id="bloodFlow">--</p></div>
  <div class="card"><h3>Arterial</h3><p id="arterialPressure">--</p></div>
  <div class="card"><h3>Venous</h3><p id="venousPressure">--</p></div>
  <div class="card"><h3>Vibration</h3><p id="vibration">--</p></div>
  <div class="card"><h3>Time Left</h3><p id="remainingTime">--:--:--</p></div>
  <div class="card"><h3>Status</h3><p id="status">--</p></div>
</div>

<div id="alertPopup" class="popup hidden"></div>

<h3>Alerts</h3>
<ul id="alertLog"></ul>

<button onclick="startSystem()">▶ Start</button>
<button onclick="stopSystem()">⏹ Stop</button>

<script src="/static/js/dashboard.js"></script>
